
  form {
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    } 
    
   
  .temperature {
      text-align: center;}

 
.temp {
  font-size: 75px;
  position: relative;
  left: 190px;
  bottom: 30px;
  display: block;
  margin: 0 auto;
}

  .units {
  font-size: 15px;
  position: relative;
  bottom: 115px;
  left: 270px;
  display: block;
  margin: 0 auto;
}

.second {
  position: relative;
 right: 10px;
  display: block;
  margin: 0 auto;
}

.fivedays {
  position: relative;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  left: 20px;
  display: block;
  margin: 0 auto;
}

.border {
    max-width: 575px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border: 1px solid;
    border-radius: 10px;
}

li {
  list-style: none;
}

.city {
  font: 15px lighter;
  font-family: 'Times New Roman', Times, serif;
}
.country
{
  font: 15px lighter;
  font-family: 'Times New Roman', Times, serif;
}


.mainemoji i {
  font-size: 30px;
  color: purple;
  position: relative;
  top: 10px;
}